<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Tambah Data</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" [formGroup]="addDataForm" (ngSubmit)="addData()">
            <div class="mb-2">
              <label lass="form-label">Nama Kos</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="mb-2">
              <label class="form-label">Lokasi</label>
              <input type="text" class="form-control" formControlName="location" >
            </div>
            <div class="mb-2">
              <label class="form-label">Jumlah Kamar Yang Tersedia</label>
              <input type="number" class="form-control" formControlName="roomAvailable">
            </div>
            <div class="mb-2">
              <label class="form-label">Harga Sewa / Bulan</label>
              <input type="number" class="form-control" formControlName="price">
            </div>
            <div class="mb-2">
              <label f class="form-label">Link Foto Kosan</label>
              <input type="text" class="form-control" formControlName="imageLink">
            </div>
            <div class="modal-footer mt-3">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Simpan</button>
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Batal</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
</div>